.descriptionbox {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 1.3em;
    line-height: 1.6em;
}

.descriptiontext {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50vw;
    padding-left: 25%;
    padding-top: 7%;
    padding-bottom: 7%;
}
    
.descriptiontext2 {
    position: relative;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 30vw;
    padding-left: 25%;
    padding-top: 15%;
    padding-bottom: 15%;
}