.footer {

    display:block;
 background-color: #f1bc3e;
 font-size:10px;
 width:100%;
 text-align: center;
 margin-left: 0px;
 height:25px;
 float:left;
 position: relative;
 margin-top: 1rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
   right: 0;
   bottom: 0;
   left: 0;
 z-index:6;
}