

body{
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:15px;
		line-height: 1.40;
}

a:link, a:active, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  background-color: none;
  text-decoration:none;
  cursor: pointer;
}

#confetti {
    position: absolute;
    z-index: 3;
}



.footer {

   		display:block;
		background-color: #f1bc3e;
		font-size:10px;
		width:100%;
		text-align: center;
		margin-left: 0px;
		height:25px;
		float:left;
		position: relative;
		margin-top: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
  		right: 0;
  		bottom: 0;
  		left: 0;
		z-index:6;
	}



/* NAVIGATION HEADER yeahok/*/

	#navbar {
		background-color:white;
 		position: fixed;
  		top: 0;
 		height: 60px;
 		line-height: 60px;
  		width: 100%;
  		z-index: 10;
  		font-weight: 650;
	}


			.logo {
  				float: left;
  				margin-left: 28px;
  				font-size: 15pt;
  				height: 60px;
  				letter-spacing: 1px;


  			}

		#navbar ul {
  			display: inline-block;
  			float: right;
  			margin-right:25px;
  			list-style: none;
  			margin-top: -2px;
  			text-align: right;
  			transition: transform 0.5s ease-out;
  			-webkit-transition: transform 0.5s ease-out;
		} @media(max-width: 640px) {

   		 #navbar ul {
     		 display: none;
    	}

  		} @media(orientation: landscape) {
    		  #navbar ul {
    		    display: inline-block;
     		 }
    	}

		#navbar li {
 			display: inline-block;
			}

		#navbar li a {
  			display: block;
 			font-size: 10pt;
  			height: 50px;
  			letter-spacing: 1px;
  			margin: 0 20px;
  			padding: 0 4px;
  			position: relative;
  			text-decoration: none;
  			text-transform: uppercase;
  			transition: all 0.5s ease;
  			-webkit-transition: all 0.5s ease;
		}

		#navbar li a:hover {
  			animation: gel 0.35s;
		}

			@keyframes gel {
  				0% {transform: scale(1, 1); }
  				25% { transform: scale(0.9, 1.1); }
  				50% { transform: scale(1.1, 0.9); }
  				75% { transform: scale(0.95, 1.05); }
			}

/*
　　 ／￣￣￣＼
　　/　ｗ　　ｗヽ
　 ｜ (・)　(・)|
　 ｜　／￣￣＼ |／)
　 /　 ＼二二／　 /
　/　　　　　　　/
`(／　　　　　　｜
　 ｜　　　　　 ｜
　 ｜　　　　　 ｜
　 ｜　　　　　 ｜
　 ｜ ＿　　 ＿ ｜
　 (／个＼_／个＼)
　	　⌒⌒⌒ ⌒⌒⌒
*/

/*BOUNCEIN ON LOAD */



.bounce-in{
	animation:bounceIn .8s forwards;
	animation-fill-mode:both;
	animation-delay:.08s
}

.bounce-in2{
	animation:bounceIn .9s forwards;
	animation-fill-mode:both;
	animation-delay:.085s
}

.bounce-in3{
	animation:bounceIn .95s forwards;
	animation-fill-mode:both;
	animation-delay:.095s
}

@keyframes bounceIn{
	0%,20%,40%,60%,80%,
	to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
	animation-timing-function:cubic-bezier(.215,.61,.355,1)}
	0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
	20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
	40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
	60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);
	transform:scale3d(1.03,1.03,1.03)}
	80%{-webkit-transform:scale3d(.97,.97,.97);
	transform:scale3d(.97,.97,.97)}

to{opacity:1;-webkit-transform:none;transform:none}}



/* PLAY BOX /*/

	.play{
		background-color:white;
		width:100%;
		height:500px;
		margin:0 none;
		position:relative;
		z-index:5;
		padding: none;
	}

	.play:hover{
		cursor: pointer;
	}


		.drag1{
			left: 50px;
			top: 300px;
			width: 100px;
			height: 100px;
			z-index:3;
		}


		.drag2{
			left: 150px;
			top: 200px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag3{
			left: 235px;
			top: 95px;
			width: 100px;
			height: 100px;
			z-index:3;

		}

		.drag4{
			left: 325px;
			top: 0px;
			width: 100px;
			height: 100px;
			z-index:3;
		}


		.drag5{
			left: 430px;
			top: -100px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag6{
			left: 535px;
			top: -200px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag7{
			left: 625px;
			top: -305px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag8{
			left: 710px;
			top: -400px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag9{
			left: 775px;
			top: -500px;
			width: 100px;
			height: 100px;
			z-index:3;
		}


		.drag10{
			left: 850px;
			top: -600px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag11{
			left: 50px;
			top: -850px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag12{
			left: 130px;
			top: -950px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag13{
			left: 180px;
			top: -1050px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag14{
			left: 275px;
			top: -1155px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag15{
			left: 315px;
			top: -1250px;
			width: 100px;
			height: 100px;
			z-index:3;
		}

		.drag16{
			left: 375px;
			top: -1350px;
			width: 100px;
			height: 100px;
			z-index:3;
		}


.star{
	top: 125px;
	left:950px;
	height: 200px;
	width: 200px;
	position: absolute;
	z-index: 10;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}




/*
　		ﾊ　ﾊ
　　　　 ∧Ｙ∧
　　　　/ |｜|∧
　　　 ｜ﾐ|｜|ﾐ｜
　　　　Ｖ|｜|ﾐ/
　　　 ／￣￣￣＼
　　 ／　(人人)　＼
　　//　 人　人ヽヽヽ
　 /｜ ﾊ(光)ﾉ光)ﾉ | |
　｜人｜ (●　●)|ノ |
　 ﾚ| 人″ ＿ ″ﾉ　Ｎ
　　ヽ从＞､― ＜从ノ
　　　／{⌒只⌒}＼
　　　L_|￣∥￣|_亅
　　〈　|　∥　|　〉
　　 |_`ー―――⌒)
　　 ヽ＞―――-イ
　　　/￣￣￣￣￣ヽ
*/



 /* MAIN DIV */

#content{
	background-color:none;
	height:auto;
	padding: 15px;
  	position: relative;
  	display:block;
}




/* PAGE LINK BOXES */

.container {
  position: relative;
  width: 33%;
  float:left;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}



.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 35px;
  position: absolute;
  font-family: 'monotalic', Fallback, sans-serif;
	font-weight: 700;
	font-style: normal;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}









.lastinfo{
	text-align:center;
	width:33%;
	height:50%;
	float:left;
	position:relative;
}




/* HEADERS */

	p.mainhead{
		font-family: monotalic, sans-serif;
		font-weight: 700;
		font-size:35pt;
		color: #000000;
		margin-bottom:-20px;
		text-align: center;
		padding-bottom:20px;
	}

	p.subhead{
		text-align: center;
		font-weight: 700;
		color:#000000;
		font-size:15pt;
	}

	p.quotehead{
		color: #000000;
		font-size:16pt;
	}


/*
＿|＼V＿＿＿_
ヽ ／　　　　＼／Ｚ
∠/　ｨ| ∧｜i　ヽ <
　ﾚ /廾/ |ナﾅヘ_|￣
　|ﾉ/●)　(●ﾍ６)
　｜　　　　　 ム
`∠＼　(￣)　／く
　レﾚ＞――＜Ｖ￣
　　/ヾニニ彳＼
　 /　/　　 ヽ ヽ
　<＿ｉ　　＿|＿〉
〈mmo)ヽノ(omm)/
（　 ハ　 f　iヽ
　＼ ヽ`ー|　| |
　　＼＞､_r-､|ノ
　　ム> ﾉ に/|
　 f二／　L_ノ
PROJECT PAGES */

	.descriptionbox{
		position:relative;
		margin-top:0px;
		margin-bottom:0px;
		width:100%;
		background-color: #FFFFFF;
		font-size: 1.3em;
		line-height: 1.6em;
	}

	.descriptiontext{
		position:relative;
		margin-top:0px;
		margin-bottom:0px;
		width:50vw;
		padding-left:25%;
		padding-top:7%;
		padding-bottom:7%;
	}

	.descriptiontext2{
		position:relative;
		font-size: 1.1em;
		line-height: 1.6em;
		margin-top:0px;
		margin-bottom:0px;
		width:30vw;
		padding-left:25%;
		padding-top:15%;
		padding-bottom:15%;
	}


	.colorboxtext2{
		position:relative;
		margin-top:0px;
		margin-bottom:0px;
		width:30vw;
		padding-left:25%;
		padding-top:15%;
		padding-bottom:15%;
	}

	/* Full width Image box */
	.box1{
		width:80%;
		padding-top:75px;
		padding-left:10vw;
		height: auto;
		display:block;
		position:relative;
		z-index:5;
	}

	.box3{
		width:50%;
		height:auto;
		float:left;
		display:block;
		position: relative;
		z-index:6;
	}


	.break{
		display:block;
		background-color: white;
		width:100%;
		height:75px;
		float:left;
		position: relative;
		z-index:6;
	}



.info{
	position:relative;
	text-decoration:none;
	font-size:15pt;
	margin-top:50px;
	width:100%;
	padding-left:100px;
	padding-right:100px;

}





/* PROFILE PAGE
*/


	.profile{
		font-size:15px;
		width:auto;
		margin-left:10%;
		margin-top:10%;
		position:absolute;
	}




		.profileimg{
			float: left;
			position: relative;
			background: url("photos/profile/profile.jpg");
			background-size:35vw auto;
			height:40vw;
			width:35vw;
			cursor: pointer;

		}

 		.profileimg:hover {
      		background: url("photos/profile/profile2.jpg");
			background-size:35vw auto;
			cursor: pointer;
    	}


	.profiletext{
		line-height: 1.40;
		margin-left:75px;
		float: left;
		position: relative;
		margin-top: -55px;
		width:40vw;
	}


	.profiletext a:link, a:active, a:visited{

		color: #000000;
  		border-bottom: solid 3px #f2bd2e;
	}


	.profiletext a:hover{
		color: #000000;
  		background-color: #f2bd2e;
  		text-decoration: none;
  		cursor: pointer;
	}

/*dsjhgkdufhgkudethgiuk */


	p.profilehead{
		font-family: monotalic, sans-serif;
		font-weight: 700;
		font-style: normal;
		line-height:58px;
		font-size:30pt;
		margin-bottom:20px;
	}

p.resumehead {
		font-family: monotalic, sans-serif;
		font-weight: 400;
		font-style: normal;

}
