.descriptiontext2 {
    position: relative;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 30vw;
    padding-left: 25%;
    padding-top: 15%;
    padding-bottom: 15%;
}